body {
    background-color: #000;
    color: #fff;
}

/*Intro video als header: positie, hoogte, breedte, stapelvolgorde*/

header {
    position: relative;
    background-color: black;
    height: 70vh;
    width: 100%;
    overflow: hidden;
}
  
header video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: 0;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}


/*Maakt afbeeldingen grijsschaal via hoveren weer gekleurd en zoom effect*/

img {
     filter: gray;
     -webkit-filter: grayscale(1);
     -webkit-transition: all .8s ease-in-out; 
}

img:hover {
    filter: none;
      -webkit-filter: grayscale(0);
      -webkit-transform: scale(1.002);
}

/*Margin tussen alle containers*/

.container {
    margin-top: 20px;
    margin-bottom: 15px
}

/*Tekst formatting*/

h1 {
    font-family: "Playfair Display";
    font-weight: 700;
}

h2 {
    font-family: "Playfair Display";
    font-weight: 700;
    font-size: 18px;
}

p {
    font-family: "Raleway";
}

/*Navigatie bar: achtergrond-kleur, font, font-size, hover effect en positie*/

.navbar-container {
    background-color: #000; 
}

.navbar {
    border: none !important;
}

.navbar-logo img {
    height: 50px;
}

.navbar-light .navbar-nav .nav-link {
    font-family: "Raleway";
    color: #bbb;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navbar-light .navbar-nav .nav-link:hover {
    color: #fff;
}

/*Gecentreerd footer*/

.footer {
    text-align: center;
}